{
	"parser": "@typescript-eslint/parser",
	"extends": ["prettier"],
	"ignorePatterns": ["*.log"],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"env": {
		"node": true
	},
	"globals": {
		"NODE_ENV": true,
		"isProduction": true,
		"__ROUTE__": true
	},
	"rules": {
		"max-classes-per-file": "off",
		"no-console": "error"
	},
	"overrides": [
		{
			"files": ["src/scripts/*.ts", "src/views/*.ts"],
			"rules": {
				"no-console": "off",
				"quotes": "off",
				"@typescript-eslint/quotes": "off"
			}
		}
	]
}
