{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier",
		"plugin:prettier/recommended"
	],
	"ignorePatterns": [
		"*.log"
	],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": "./tsconfig.json"
	},
	"env": {
		"node": true
	},
	"globals": {
		"NODE_ENV": true,
		"isProduction": true,
		"__ROUTE__": true
	},
	"rules": {},
	"overrides": [
		{
			"files": [
				"src/scripts/*.ts",
				"src/views/*.ts"
			],
			"rules": {
				"no-console": "off",
				"quotes": "off",
				"@typescript-eslint/quotes": "off"
			}
		}
	]
}
